.columna1 {
  background-color: yellowgreen;
  text-align: center;
}

.columna2 {
  background-color: violet;
  text-align: center;
}

.columna3 {
  background-color: lightblue;
  text-align: center;
}

.columna4 {
  background-color: lightseagreen;
  text-align: center;
}
